<div class="card">
  <b>Edit Current Rule:</b>
  <form [formGroup]="formGroup" class="form-flex">
    <div class="rule">
      <b>Rule One:</b>
      <div class="field">
        <p-dropdown
          class="condition-button"
          formControlName="priceOneCondition"
          [options]="ruleOneOptions"
          optionLabel="code"
          placeholder="Select a Condition"
        />
        <div
          *ngIf="
            formGroup.get('priceOneCondition')?.touched &&
            formGroup.get('priceOneCondition')?.invalid
          "
        >
          <small class="error-text">Condition is required.</small>
        </div>
      </div>
      <div class="field">
        <p-floatLabel>
          <p-inputNumber
            inputId="integeronly"
            id="price-one"
            formControlName="priceOne"
          />
          <label for="priceOne"> Price</label>
        </p-floatLabel>
        <div
          *ngIf="
            formGroup.get('priceOne')?.touched &&
            formGroup.get('priceOne')?.invalid
          "
        >
          <small class="error-text">Please key a valid value.</small>
        </div>
      </div>
      <b>And</b>
      <div class="field">
        <p-dropdown
          class="condition-button"
          formControlName="priceTwoCondition"
          [options]="ruleOneOptions"
          optionLabel="name"
          placeholder="Select a Condition"
        />
        <div
          *ngIf="
            formGroup.get('priceTwoCondition')?.touched &&
            formGroup.get('priceTwoCondition')?.invalid
          "
        >
          <small class="error-text">Condition is required.</small>
        </div>
      </div>
      <div class="field">
        <p-floatLabel>
          <p-inputNumber
            inputId="integeronly"
            id="price-two"
            formControlName="priceTwo"
          />
          <label for="priceTwo"> Price</label>
        </p-floatLabel>
        <div
          *ngIf="
            formGroup.get('priceTwo')?.touched &&
            formGroup.get('priceTwo')?.invalid
          "
        >
          <small class="error-text">Please key a valid value.</small>
        </div>
      </div>
    </div>
    <div class="rule">
      <b>Rule Two:</b>
      <div class="field">
        <p-dropdown
          class="condition-button"
          formControlName="portfolioOneCondition"
          [options]="ruleTwoOptions"
          optionLabel="name"
          placeholder="Select a Condition"
        />
        <div
          *ngIf="
            formGroup.get('portfolioOneCondition')?.touched &&
            formGroup.get('portfolioOneCondition')?.invalid
          "
        >
          <small class="error-text">Condition is required.</small>
        </div>
      </div>
      <div class="field">
        <p-floatLabel>
          <input type="text" pInputText formControlName="portfolioOne" />
          <label for="portfolioOne">Portfolio</label>
        </p-floatLabel>
        <div
          *ngIf="
            formGroup.get('portfolioOne')?.touched &&
            formGroup.get('portfolioOne')?.invalid
          "
        >
          <small class="error-text">Please key a valid value.</small>
        </div>
      </div>
      <b>And</b>
      <div class="field">
        <p-dropdown
          class="condition-button"
          formControlName="portfolioTwoCondition"
          [options]="ruleTwoOptions"
          optionLabel="name"
          placeholder="Select a Condition"
        />
        <div
          *ngIf="
            formGroup.get('portfolioTwoCondition')?.touched &&
            formGroup.get('portfolioTwoCondition')?.invalid
          "
        >
          <small class="error-text">Condition is required.</small>
        </div>
      </div>
      <div class="field">
        <p-floatLabel>
          <input type="text" pInputText formControlName="portfolioTwo" />
          <label for="portfolioTwo">Portfolio</label>
        </p-floatLabel>
        <div
          *ngIf="
            formGroup.get('portfolioTwo')?.touched &&
            formGroup.get('portfolioTwo')?.invalid
          "
        >
          <small class="error-text">Please key a valid value.</small>
        </div>
      </div>
    </div>
    <div class="rule">
      <b>Rule Three:</b>
      <div class="field">
        <p-dropdown
          class="condition-button"
          formControlName="counterPartyCondition"
          [options]="ruleTwoOptions"
          optionLabel="name"
          placeholder="Select a Condition"
        />
        <div
          *ngIf="
            formGroup.get('counterPartyCondition')?.touched &&
            formGroup.get('counterPartyCondition')?.invalid
          "
        >
          <small class="error-text">Condition is required.</small>
        </div>
      </div>
      <div class="field">
        <p-floatLabel>
          <input type="text" pInputText formControlName="counterParty" />
          <label for="counterParty">Counterparty</label>
        </p-floatLabel>
        <div
          *ngIf="
            formGroup.get('counterParty')?.touched &&
            formGroup.get('counterParty')?.invalid
          "
        >
          <small class="error-text">Please key a valid value.</small>
        </div>
      </div>
    </div>
    <div style="display: flex; justify-content: center; padding: 10px">
      <p-button
        label="Edit Current Rule"
        class="p-button-primary"
        (click)="onSubmit()"
      />
    </div>
  </form>
</div>
