.form-container {
  display: grid;
  grid-template-columns: repeat(1fr);
  gap: 20px;
}
/* When canEdit is true, show two columns */
.form-container.can-edit {
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1294px) {
  .form-container {
    grid-template-columns: 1fr;
  }
  .form-container.can-edit {
    grid-template-columns: 1fr;
  }
}
