<div class="card" style="padding: 10px 0px 40px">
  <p-table
    [value]="filteredData"
    responsiveLayout="stack"
    [breakpoint]="'960px'"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th pSortableColumn="tradeNumber" style="width: 20%">
          Trade Number<p-sortIcon field="tradeNumber" />
        </th>
        <th pSortableColumn="portfolio" style="width: 20%">
          Portfolio <p-sortIcon field="portfolio" />
        </th>
        <th pSortableColumn="counterParty" style="width: 20%">
          CounterParty <p-sortIcon field="counterParty" />
        </th>
        <th pSortableColumn="price" style="width: 20%">
          Price <p-sortIcon field="price" />
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-columns="columns">
      <tr>
        <td>
          <span class="p-column-title">Trade Number</span
          >{{ product.tradeNumber }}
        </td>
        <td>
          <span class="p-column-title">Portfolio</span>{{ product.portfolio }}
        </td>
        <td>
          <span class="p-column-title">CounterParty</span
          >{{ product.counterParty }}
        </td>
        <td>
          <span class="p-column-title">Price</span
          >{{ product.price | currency : "USD" }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
